.element {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1em;
    background-color: hsl(0, 0%, 97%);
    border-bottom: 2px solid silver;
}

a {
    text-decoration: none;
}

.ownerUrl {
    display: flex;
    align-items: center;
    justify-self: end;
}

.ownerLogin {
    margin-right: 1em;
}

.ownerImg {
    max-height: 3em;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.lastUpdated {
    font-size: 0.8em;
}
