.body {
    overflow-y: scroll;
    overflow-x: auto;
    height: 700px;
    width: 100%;
}

.element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: hsl(0, 0%, 97%);
    border-bottom: 2px solid silver;
}

.dataLoading {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    font-size: 40px;
}

a {
    text-decoration: none;
}

.ownerUrl {
    display: flex;
    align-items: center;
}

.ownerLogin {
    margin-right: 1em;
}

.ownerImg {
    max-height: 3em;
}
